@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.gradient-pink-lavender {
  background: linear-gradient(135deg, #ff5fcb 0%, #b993d6 100%);
  min-height: 100vh;
}


.gradient-mint-sky {
  background: linear-gradient(135deg, #a8ff78 0%, #78ffd6 50%, #57c1eb 100%);
  min-height: 100vh;
}

